@charset "UTF-8";

// ------------------------------------------------------------------------
// Fonts
// ------------------------------------------------------------------------


@font-face {
    font-family: NeueBit;
    src: url("../fonts/NeueBit-Regular.otf") format("opentype");
}

@font-face {
    font-family: NeueBit;
    font-weight: bold;
    src: url("../fonts/NeueBit-Bold.otf") format("opentype");
}

@font-face {
    font-family: Graphik;
    font-weight: 500;
    src: url("../fonts/Graphik-Medium.otf") format("opentype");
}

// @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');

$font-bit: "NeueBit", monospace;
$font-sans: "Graphik", sans-serif;

@mixin font-style($font-fam, $xs, $sm, $md, $lg, $xl, $letter-sp, $line-h, $weight, $style){
  font-family: $font-fam;
  font-size: $xs;
  letter-spacing: $letter-sp;
  line-height: $line-h;
  font-weight: $weight;
  font-style: $style;
  font-stretch: normal;
  @include media-breakpoint-up(sm) { font-size: $sm; }
  @include media-breakpoint-up(md) { font-size: $md; }
  @include media-breakpoint-up(lg) { font-size: $lg; }
  @include media-breakpoint-up(xl) { font-size: $xl; }  
}

// ---------------------------------------------------- xs --- sm --- md --- lg --- xl - lsp ---- lh ---- w --- style
@mixin font-bit-xxl { @include font-style($font-bit,  60px,  60px,  60px,  60px,  75px,    0, 0.75em,   700,   normal); }
@mixin font-bit-xl  { @include font-style($font-bit,  40px,  40px,  40px,  40px,  54px,    0, 0.75em,   700,   normal); }
@mixin font-bit-l   { @include font-style($font-bit,  30px,  30px,  30px,  30px,  40px,    0, 0.75em,   700,   normal); }
@mixin font-sans-m  { @include font-style($font-sans, 18px,  18px,  18px,  18px,  18px,    0,   22px,   500,   normal); }
@mixin font-sans-s  { @include font-style($font-sans, 14px,  14px,  14px,  14px,  14px,    0,   18px,   500,   normal); }

.font-bit-l         { @include font-bit-l; }
.font-bit-xl        { @include font-bit-xl; }
.font-bit-xxl       { @include font-bit-xxl; }
.font-sans-m        { @include font-sans-m; }
.font-sans-s        { @include font-sans-s; }




