@charset "UTF-8";
@import 'bootstrap-scss/_functions';
@import 'bootstrap-scss/_variables';
@import 'bootstrap-scss/mixins/_breakpoints';

// ------------------------------------------------------------------------
// Variables
// ------------------------------------------------------------------------

$orange: #FA7935;
$purple: #8197FF;

$space: 20px;
$col-w-xl: 70px;
$col-w-lg: 60px;
$schedule-w-xl: 500px;
$schedule-w-lg: 350px;
$schedule-w-lg: 50vw;

// ------------------------------------------------------------------------
// External files import
// ------------------------------------------------------------------------

@import '_reset';
@import '_typography';
@import '_mixins';


// ------------------------------------------------------------------------
// General tags & classes
// ------------------------------------------------------------------------

* {
}
body {
  &.schedule-open {
    section#ui #home {
      #now-playing-small {
        opacity: 1;
        left: $space;
        @include media-breakpoint-down(lg) { left: calc(#{$space} - #{$col-w-lg}); }
        pointer-events: all;
      }
      .highlight { opacity: 0; }
      .close-programs { opacity: 1; }
    }
    #bottom-left {
      pointer-events: none;
      opacity: 0;
    }
  }
  &.watching {
    section#bg {
      div#bg-video {
        opacity: 1;
        filter: blur(0);
        // transform: scale(1);
      }
    }
    section#ui {
      pointer-events: none;
      opacity: 0;
    }
    #grad-watching {
      opacity: 0.6;
    }
    #logo-watching {
      pointer-events: all;
      opacity: 1;
    }
    #now-playing-watching {
      opacity: 1;
    }
    #bottom-left {
      pointer-events: none;
      opacity: 0;
    }
  }
  &.about {
    section#ui {
      pointer-events: none;
      opacity: 0;
    }
    section#about {
      pointer-events: all;
      opacity: 1;
    }
    #bottom-left {
      pointer-events: none;
      opacity: 0;
    }

  }

  main {

  }
}

a {
	cursor: pointer;
  text-decoration: none;
  &.huge-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: solid $orange 2px;
    color: $orange;
    text-decoration: none;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    @include font-bit-xl;
    @include transition(background-color 400ms);
    &:hover {
      background-color: $orange;
      color: black;
    }
  }
  &.button {
    $butt-h: 28px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: solid $orange 2px;
    color: $orange;
    text-decoration: none;
    border-radius: $butt-h/2;
    height: $butt-h;
    padding: 1px 20px 0;
    @include font-sans-s;
    @include transition(background-color 400ms);
    &:hover {
      background-color: $orange;
      color: black;
    }
    &.external {
      &::before {
        content: "↗";
        margin-right: 0.5em;
      }
    }
  }
}

hr {
  margin: $space*1.5 0;
  border-top: 1px solid rgba(white, 0.3);
}

$scn-size: 1.3em;
.small-channel-num {
  @include font-bit-l;
  color: $orange;
  font-size: 1.4em !important;
  display: inline-flex;
  border: 2px solid #FA7936;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -.05em;
  padding-top: .15em;

  border-radius: $scn-size/2;
  width: $scn-size;
  height: $scn-size;
  max-width: $scn-size;
  max-height: $scn-size;
  min-width: $scn-size;
  min-height: $scn-size;

  margin-right: 0.3em;
}

// ------------------------------------------------------------------------
// Utilities
// ------------------------------------------------------------------------

.color-white        { color: white; }
.color-white-30     { color: rgba(255,255,255, 0.3); }
.color-white-50     { color: rgba(255,255,255, 0.5); }
.color-grey         { color: #ABABAB; }
.color-purple       { color: $purple; }
.color-orange       { color: $orange; }
.hover-purple:hover { color: $purple; }
.hover-white:hover  { color: white; }
.upper              { text-transform: uppercase; }
.blurred            { filter: blur(1vh); }
.font-bold          { font-weight: 700; }
.max-text-w         { max-width: 9em; }
.vspace             { height: $space; }

// ------------------------------------------------------------------------
// Grid
// ------------------------------------------------------------------------

section#bg {
  background-color: black;
  height: 100vh;
  div#bg-video {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    opacity: 0.3;
    // transform: scale(2);
    filter: blur(1vh);
    @include transition(filter 400ms, transform 400ms);
    iframe {
      // pointer-events: none;
    }
  }
}

section#ui {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  @include transition(opacity 400ms);

  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;

  div.column {
    min-width: $col-w-xl;
    @include media-breakpoint-down(lg) { min-width: $col-w-lg; }
    position: relative;
    @include transition(flex-grow 400ms, min-width 400ms);
    overflow: hidden;
    border-left: 1px solid rgba(255,255,255, 0.2);

    &[id^='channel-'] .title.active {
      color: $orange;
    }

    &.expanded {
      min-width: calc(#{$col-w-xl} + #{$schedule-w-xl});
      @include media-breakpoint-down(lg) { min-width: calc(#{$col-w-lg} + #{$schedule-w-lg}); }

      .rotated-bar a.arrow-wrapper .arrow::after {
        content: "↑";
        content: "↓";
      }
    }

    // &.closed {
    //   min-width: 0;
    //   flex-grow: 0;
    //   width: 0;
    // }

    .rotated-bar {
      transform: rotate(-90deg);
      transform-origin: 50vh 50vh;
      height: $col-w-xl;
      @include media-breakpoint-down(lg) { height: $col-w-lg; }
      width: 100vh;
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 $space 0 $space*1.5;

      a.arrow-wrapper {
        flex-grow: 1;
        text-align: right;
        align-self: stretch;
        margin-left: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;          

        .arrow::after {
          content: "↓";
          content: "↑";
        }
      }
    }

    .schedule {
      position: absolute;
      width: $schedule-w-xl;
      @include media-breakpoint-down(lg) { width: $schedule-w-lg; }
      top: 0; height: 100vh;
      left: $col-w-xl;
      overflow-y: scroll;

      .schedule-title {
        margin: $space 0 $space*3 10px;
      }

      a[data-toggle-desc] {
        position: relative;
        top: -6px;
        &::after { content: url("../images/arrow-down.svg"); }
        &.open::after { content: url("../images/arrow-up.svg"); }
        // &::after { content: "↓"; @include font-bit-l; }
        // &.open::after { content: "↑"; @include font-bit-l; }
      }

      .description {
        padding: $space 0 $space/2 0;
        display: none;
        a { color: $purple; }
      }
      
      .schedule-item {
        border-top: 1px solid rgba(255,255,255, 0.2);
        padding-top: $space;
        padding-right: $space;
        margin: $space 0 $space*3 10px;
        display: flex;
        
        .left { flex-grow: 1; }

        a.clickable-title {
          &:hover { color: $orange; }
        }
      }
    }

  }
  #home {
    flex-grow: 1;
    // display: flex;
    // align-items: flex-end;
    // padding-bottom: $space;
    // justify-content: center;
    position: relative;

    .close-programs {
      position: absolute;
      top: 0;
      right: 0;
      height: $col-w-xl;
      width: $col-w-xl;
      @include media-breakpoint-down(lg) { 
        height: $col-w-lg;
        width: $col-w-lg;
      }
      color: rgba(255,255,255, 0.5);
      &:hover { color: white; }
      display: inline-flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      @include font-bit-xl;
      @include transition(opacity 400ms);
    }

    .highlight-container {
      position: fixed;
      @include media-breakpoint-down(md) { position: absolute; }
      top: 0; right: 0; bottom: 0; left: 0;
      display: flex;
      align-items: flex-end;
      padding-bottom: $space*1.5;
      justify-content: center;
      .highlight {
        @include transition(opacity 400ms);
        text-align: center;
      }
    }

    .watch {
      position: fixed;
      @include media-breakpoint-down(md) { position: absolute; }
      top: 0; right: 0; bottom: 0; left: 0;
      opacity: 1;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      @include font-bit-xl;
      @include transition(opacity 400ms);
    }

    #now-playing-small {
      position: absolute; 
      bottom: $space * 1.5;
      opacity: 0;
      left: $space * 2;
      pointer-events: none;
      // margin-right: 33%;
      max-width: 30vw;
      @include transition(opacity 400ms, left 400ms);
    }
  }
}

#logo-watching {
  pointer-events: none;
  opacity: 0;
  position: fixed; 
  top: $space; 
  left: $space;
  @include transition(opacity 400ms);
}

#bottom-left {
  position: fixed;
  bottom: $space*1.5;
  left: $space;
  @include media-breakpoint-down(md) { display: none; }
  
  .logan-logo { max-width: 15vw; }

  .credits:hover span { color: $purple; }
}

#grad-watching {
  @include linearGradientV(rgba(0,0,0, 1), rgba(0,0,0,0));
  @include transition(opacity 400ms);
  position: fixed;
  top: 0; left: 0; right: 0;
  height: 120px;
  opacity: 0;
  pointer-events: none;
}

#top-left {
  position: fixed;
  z-index: 2;
  top: $space;
  left: $space;
}

#now-playing-watching {
  position: fixed;
  top: $space; left: $space; right: $space;
  @include transition(opacity 400ms);
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;

  .texts {
    max-width: calc(100vw - 500px);
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @include media-breakpoint-down(md) { 
    justify-content: flex-end;
    .texts { max-width: calc(100vw - 250px); }
  }
  
}

#about {
  pointer-events: none;
  opacity: 0;
  @include transition(opacity 400ms);
  position: fixed;
  top: 0; left: 0; right: 0; 
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .content-wrapper {
    max-width: 600px;
    display: inline-block;
    padding: $space;
    max-height: 100vh;
    overflow-y: scroll;

    .text {
      a {
        color: $orange;
        &:hover { text-decoration: underline; }
      }
    }
  }

  .close-x {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px 23px;
    color: rgba(white, 0.5);
    &:hover { color: white; }
  }
}


// ------------------------------------------------------------------------
// BOOTSTRAP BREAKPOINTS
// ------------------------------------------------------------------------

// xs ---                 Portrait phones
// sm ---  576px and up   Small devices (landscape phones)
// md ---  768px and up   Medium devices (tablets)
// lg ---  992px and up   Large devices (desktops)
// xl --- 1200px and up   Extra large devices (large desktops)

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-between(md, xl) { ... }
// @include media-breakpoint-down(lg) { ... }
