@charset "UTF-8";
*:not(i), *:not(i)::before, *:not(i)::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box; }

html {
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */ }

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  display: block; }

::-moz-selection {
  background: #8197FF;
  color: black; }

::selection {
  background: #8197FF;
  color: black; }

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none; }

button,
input,
optgroup,
select,
textarea, html input[type="button"],
input[type="reset"],
input[type="submit"], button[disabled],
html input[disabled], button::-moz-focus-inner,
input::-moz-focus-inner, input[type="checkbox"],
input[type="radio"], input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button, input[type="search"], input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  border: none;
  background-image: none;
  background-color: transparent !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

html body input:-internal-autofill-selected {
  background-color: transparent !important;
  background-image: none !important;
  color: -internal-light-dark-color(black, white) !important; }

@font-face {
  font-family: NeueBit;
  src: url("../fonts/NeueBit-Bold/NeueBit-Bold.woff2") format("woff2"), url("../fonts/NeueBit-Bold/NeueBit-Bold.woff") format("woff");
  font-weight: bold; }
@font-face {
  font-family: Graphik;
  font-weight: 400;
  src: url("../fonts/Graphik/Graphik-Regular-Web.woff") format("woff"); }
@font-face {
  font-family: Graphik;
  font-weight: 500;
  src: url("../fonts/Graphik/Graphik-Medium-Web.woff") format("woff"); }
.font-bit-l {
  font-family: "NeueBit", monospace;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 0.75em;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    .font-bit-l {
      font-size: 30px; } }
  @media (min-width: 768px) {
    .font-bit-l {
      font-size: 30px; } }
  @media (min-width: 992px) {
    .font-bit-l {
      font-size: 30px; } }
  @media (min-width: 1200px) {
    .font-bit-l {
      font-size: 40px; } }

.font-bit-xl {
  font-family: "NeueBit", monospace;
  font-size: 40px;
  letter-spacing: 0.01em;
  line-height: 0.85em;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    .font-bit-xl {
      font-size: 40px; } }
  @media (min-width: 768px) {
    .font-bit-xl {
      font-size: 40px; } }
  @media (min-width: 992px) {
    .font-bit-xl {
      font-size: 40px; } }
  @media (min-width: 1200px) {
    .font-bit-xl {
      font-size: 54px; } }

.font-bit-xxl {
  font-family: "NeueBit", monospace;
  font-size: 60px;
  letter-spacing: 0;
  line-height: 0.75em;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    .font-bit-xxl {
      font-size: 60px; } }
  @media (min-width: 768px) {
    .font-bit-xxl {
      font-size: 60px; } }
  @media (min-width: 992px) {
    .font-bit-xxl {
      font-size: 60px; } }
  @media (min-width: 1200px) {
    .font-bit-xxl {
      font-size: 75px; } }

.font-sans-m {
  font-family: "Graphik", sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    .font-sans-m {
      font-size: 18px; } }
  @media (min-width: 768px) {
    .font-sans-m {
      font-size: 18px; } }
  @media (min-width: 992px) {
    .font-sans-m {
      font-size: 18px; } }
  @media (min-width: 1200px) {
    .font-sans-m {
      font-size: 18px; } }

.font-sans-s {
  font-family: "Graphik", sans-serif;
  font-size: 14px;
  letter-spacing: 0.04em;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    .font-sans-s {
      font-size: 14px; } }
  @media (min-width: 768px) {
    .font-sans-s {
      font-size: 14px; } }
  @media (min-width: 992px) {
    .font-sans-s {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    .font-sans-s {
      font-size: 14px; } }

/* USAGE 
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}
*/
body.schedule-open section#ui #home #now-playing-small {
  opacity: 1;
  left: 20px;
  pointer-events: all; }
body.schedule-open section#ui #home .highlight {
  opacity: 0; }
body.schedule-open section#ui #home .close-programs {
  opacity: 1; }
body.schedule-open #bottom-left {
  pointer-events: none;
  opacity: 0; }
body.watching section#bg div#bg-video {
  opacity: 1;
  filter: blur(0); }
body.watching section#ui {
  pointer-events: none;
  opacity: 0; }
body.watching #grad-watching {
  opacity: 0.6; }
body.watching #logo-watching {
  pointer-events: all;
  opacity: 1; }
body.watching #now-playing-watching {
  opacity: 1; }
body.watching #bottom-left {
  pointer-events: none;
  opacity: 0; }
body.about section#ui {
  pointer-events: none;
  opacity: 0; }
body.about section#about {
  pointer-events: all;
  opacity: 1; }
body.about #bottom-left {
  pointer-events: none;
  opacity: 0; }
body #mob-menu,
body #mob-menu-btn {
  display: none; }

a {
  cursor: pointer;
  text-decoration: none; }
  a.huge-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: solid #FA7935 2px;
    color: #FA7935;
    text-decoration: none;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    font-family: "NeueBit", monospace;
    font-size: 40px;
    letter-spacing: 0.01em;
    line-height: 0.85em;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    -webkit-transition: background-color 400ms;
    -moz-transition: background-color 400ms;
    -ms-transition: background-color 400ms;
    -o-transition: background-color 400ms;
    transition: background-color 400ms; }
    @media (min-width: 576px) {
      a.huge-button {
        font-size: 40px; } }
    @media (min-width: 768px) {
      a.huge-button {
        font-size: 40px; } }
    @media (min-width: 992px) {
      a.huge-button {
        font-size: 40px; } }
    @media (min-width: 1200px) {
      a.huge-button {
        font-size: 54px; } }
    a.huge-button:hover {
      background-color: #FA7935;
      color: black; }
  a.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: solid #FA7935 2px;
    color: #FA7935;
    text-decoration: none;
    border-radius: 14px;
    height: 28px;
    padding: 1px 20px 0;
    font-family: "Graphik", sans-serif;
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    -webkit-transition: background-color 400ms;
    -moz-transition: background-color 400ms;
    -ms-transition: background-color 400ms;
    -o-transition: background-color 400ms;
    transition: background-color 400ms; }
    @media (min-width: 576px) {
      a.button {
        font-size: 14px; } }
    @media (min-width: 768px) {
      a.button {
        font-size: 14px; } }
    @media (min-width: 992px) {
      a.button {
        font-size: 14px; } }
    @media (min-width: 1200px) {
      a.button {
        font-size: 14px; } }
    a.button:hover {
      background-color: #FA7935;
      color: black; }
    a.button.external::before {
      content: "↗";
      margin-right: 0.5em; }

hr {
  margin: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2); }

.small-channel-num, .scn {
  font-family: "NeueBit", monospace;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 0.75em;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  color: #FA7935;
  font-size: 1.4em !important;
  display: inline-flex;
  border: solid #FA7935 2px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -.05em;
  padding-top: .15em;
  border-radius: 0.65em;
  width: 1.3em;
  height: 1.3em;
  max-width: 1.3em;
  max-height: 1.3em;
  min-width: 1.3em;
  min-height: 1.3em;
  margin-right: 0.3em; }
  @media (min-width: 576px) {
    .small-channel-num, .scn {
      font-size: 30px; } }
  @media (min-width: 768px) {
    .small-channel-num, .scn {
      font-size: 30px; } }
  @media (min-width: 992px) {
    .small-channel-num, .scn {
      font-size: 30px; } }
  @media (min-width: 1200px) {
    .small-channel-num, .scn {
      font-size: 40px; } }
  .small-channel-num.tiny, .scn.tiny {
    font-size: 0.8em !important; }

.color-white {
  color: white; }

.color-white-30 {
  color: rgba(255, 255, 255, 0.3); }

.color-white-50 {
  color: rgba(255, 255, 255, 0.5); }

.color-grey {
  color: #ABABAB; }

.color-purple {
  color: #8197FF; }

.color-orange {
  color: #FA7935; }

.hover-purple:hover {
  color: #8197FF; }

.hover-white:hover {
  color: white; }

.upper {
  text-transform: uppercase; }

.blurred {
  filter: blur(1vh); }

.font-medium {
  font-weight: 500; }

.max-text-w {
  max-width: 9em; }

.vspace {
  height: 20px; }

section#bg {
  background-color: black;
  height: 100vh; }
  section#bg div#bg-video {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    filter: blur(1vh);
    -webkit-transition: filter 400ms, transform 400ms;
    -moz-transition: filter 400ms, transform 400ms;
    -ms-transition: filter 400ms, transform 400ms;
    -o-transition: filter 400ms, transform 400ms;
    transition: filter 400ms, transform 400ms; }

section#ui {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  -ms-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start; }
  section#ui div.column {
    min-width: 70px;
    position: relative;
    -webkit-transition: flex-grow 400ms, min-width 400ms;
    -moz-transition: flex-grow 400ms, min-width 400ms;
    -ms-transition: flex-grow 400ms, min-width 400ms;
    -o-transition: flex-grow 400ms, min-width 400ms;
    transition: flex-grow 400ms, min-width 400ms;
    overflow: hidden;
    border-left: 1px solid rgba(255, 255, 255, 0.2); }
    @media (max-width: 1199.98px) {
      section#ui div.column {
        min-width: 60px; } }
    section#ui div.column[id^='channel-'] .title.active {
      color: #FA7935; }
    section#ui div.column.expanded {
      min-width: calc(70px + 500px); }
      @media (max-width: 1199.98px) {
        section#ui div.column.expanded {
          min-width: calc(60px + 50vw); } }
      section#ui div.column.expanded .rotated-bar a.arrow-wrapper .arrow::after {
        content: "x"; }
      section#ui div.column.expanded .rotated-bar a.arrow-wrapper:hover .schedule-text {
        opacity: 1; }
        section#ui div.column.expanded .rotated-bar a.arrow-wrapper:hover .schedule-text::after {
          content: "Hide schedule"; }
    section#ui div.column .rotated-bar {
      transform: rotate(-90deg);
      transform-origin: 50vh 50vh;
      height: 70px;
      -webkit-transition: height 400ms;
      -moz-transition: height 400ms;
      -ms-transition: height 400ms;
      -o-transition: height 400ms;
      transition: height 400ms;
      width: 100vh;
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px 0 30px; }
      @media (max-width: 1199.98px) {
        section#ui div.column .rotated-bar {
          height: 60px; } }
      section#ui div.column .rotated-bar .title:hover {
        opacity: 0.8; }
      section#ui div.column .rotated-bar .schedule-text {
        opacity: 0; }
      section#ui div.column .rotated-bar a.arrow-wrapper {
        flex-grow: 1;
        text-align: right;
        align-self: stretch;
        margin-left: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        section#ui div.column .rotated-bar a.arrow-wrapper:hover .schedule-text {
          opacity: 1; }
          section#ui div.column .rotated-bar a.arrow-wrapper:hover .schedule-text::after {
            content: "Show schedule"; }
        section#ui div.column .rotated-bar a.arrow-wrapper .arrow::after {
          content: "+"; }
    section#ui div.column .schedule {
      position: absolute;
      width: 500px;
      -webkit-transition: opacity 50ms;
      -moz-transition: opacity 50ms;
      -ms-transition: opacity 50ms;
      -o-transition: opacity 50ms;
      transition: opacity 50ms;
      top: 0;
      height: 100vh;
      left: 70px;
      overflow-y: scroll;
      padding-bottom: 200px; }
      @media (max-width: 1199.98px) {
        section#ui div.column .schedule {
          width: 50vw; } }
      section#ui div.column .schedule .schedule-title {
        margin: 20px 0 60px 10px; }
      section#ui div.column .schedule a[data-toggle-desc] {
        position: relative;
        top: -6px; }
        section#ui div.column .schedule a[data-toggle-desc]::after {
          content: url("../images/arrow-down.svg"); }
        section#ui div.column .schedule a[data-toggle-desc].open::after {
          content: url("../images/arrow-up.svg"); }
      section#ui div.column .schedule .description {
        padding: 20px 0 10px 0;
        display: none; }
        section#ui div.column .schedule .description a {
          color: #8197FF; }
      section#ui div.column .schedule .schedule-item {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        padding-top: 20px;
        padding-right: 20px;
        margin: 20px 0 60px 10px;
        display: flex; }
        section#ui div.column .schedule .schedule-item .left {
          flex-grow: 1; }
        section#ui div.column .schedule .schedule-item a.clickable-title:hover {
          color: #FA7935; }
  section#ui #home {
    flex-grow: 1;
    position: relative; }
    section#ui #home .close-programs {
      position: absolute;
      top: 0;
      right: 0;
      height: 70px;
      width: 70px;
      color: rgba(255, 255, 255, 0.5);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      font-family: "NeueBit", monospace;
      font-size: 40px;
      letter-spacing: 0.01em;
      line-height: 0.85em;
      font-weight: 700;
      font-style: normal;
      font-stretch: normal;
      -webkit-transition: opacity 400ms;
      -moz-transition: opacity 400ms;
      -ms-transition: opacity 400ms;
      -o-transition: opacity 400ms;
      transition: opacity 400ms; }
      @media (max-width: 1199.98px) {
        section#ui #home .close-programs {
          height: 60px;
          width: 60px; } }
      section#ui #home .close-programs:hover {
        color: white; }
      @media (min-width: 576px) {
        section#ui #home .close-programs {
          font-size: 40px; } }
      @media (min-width: 768px) {
        section#ui #home .close-programs {
          font-size: 40px; } }
      @media (min-width: 992px) {
        section#ui #home .close-programs {
          font-size: 40px; } }
      @media (min-width: 1200px) {
        section#ui #home .close-programs {
          font-size: 54px; } }
    section#ui #home .highlight-container {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: flex-end;
      padding-bottom: 30px;
      justify-content: center; }
      @media (max-width: 991.98px) {
        section#ui #home .highlight-container {
          position: absolute; } }
      section#ui #home .highlight-container .highlight {
        -webkit-transition: opacity 400ms;
        -moz-transition: opacity 400ms;
        -ms-transition: opacity 400ms;
        -o-transition: opacity 400ms;
        transition: opacity 400ms;
        text-align: center; }
        section#ui #home .highlight-container .highlight .label {
          font-family: "Graphik", sans-serif;
          font-size: 18px;
          letter-spacing: 0;
          line-height: 22px;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal; }
          @media (min-width: 576px) {
            section#ui #home .highlight-container .highlight .label {
              font-size: 18px; } }
          @media (min-width: 768px) {
            section#ui #home .highlight-container .highlight .label {
              font-size: 18px; } }
          @media (min-width: 992px) {
            section#ui #home .highlight-container .highlight .label {
              font-size: 18px; } }
          @media (min-width: 1200px) {
            section#ui #home .highlight-container .highlight .label {
              font-size: 18px; } }
          @media (max-width: 575.98px) {
            section#ui #home .highlight-container .highlight .label {
              font-family: "Graphik", sans-serif;
              font-size: 14px;
              letter-spacing: 0.04em;
              line-height: 18px;
              font-weight: 400;
              font-style: normal;
              font-stretch: normal; } }
  @media (max-width: 575.98px) and (min-width: 576px) {
    section#ui #home .highlight-container .highlight .label {
      font-size: 14px; } }
  @media (max-width: 575.98px) and (min-width: 768px) {
    section#ui #home .highlight-container .highlight .label {
      font-size: 14px; } }
  @media (max-width: 575.98px) and (min-width: 992px) {
    section#ui #home .highlight-container .highlight .label {
      font-size: 14px; } }
  @media (max-width: 575.98px) and (min-width: 1200px) {
    section#ui #home .highlight-container .highlight .label {
      font-size: 14px; } }

        section#ui #home .highlight-container .highlight .title {
          font-family: "NeueBit", monospace;
          font-size: 60px;
          letter-spacing: 0;
          line-height: 0.75em;
          font-weight: 700;
          font-style: normal;
          font-stretch: normal; }
          @media (min-width: 576px) {
            section#ui #home .highlight-container .highlight .title {
              font-size: 60px; } }
          @media (min-width: 768px) {
            section#ui #home .highlight-container .highlight .title {
              font-size: 60px; } }
          @media (min-width: 992px) {
            section#ui #home .highlight-container .highlight .title {
              font-size: 60px; } }
          @media (min-width: 1200px) {
            section#ui #home .highlight-container .highlight .title {
              font-size: 75px; } }
          @media (max-width: 575.98px) {
            section#ui #home .highlight-container .highlight .title {
              font-family: "NeueBit", monospace;
              font-size: 40px;
              letter-spacing: 0.01em;
              line-height: 0.85em;
              font-weight: 700;
              font-style: normal;
              font-stretch: normal; } }
  @media (max-width: 575.98px) and (min-width: 576px) {
    section#ui #home .highlight-container .highlight .title {
      font-size: 40px; } }
  @media (max-width: 575.98px) and (min-width: 768px) {
    section#ui #home .highlight-container .highlight .title {
      font-size: 40px; } }
  @media (max-width: 575.98px) and (min-width: 992px) {
    section#ui #home .highlight-container .highlight .title {
      font-size: 40px; } }
  @media (max-width: 575.98px) and (min-width: 1200px) {
    section#ui #home .highlight-container .highlight .title {
      font-size: 54px; } }

    section#ui #home .watch {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 1;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-family: "NeueBit", monospace;
      font-size: 40px;
      letter-spacing: 0.01em;
      line-height: 0.85em;
      font-weight: 700;
      font-style: normal;
      font-stretch: normal;
      -webkit-transition: opacity 400ms;
      -moz-transition: opacity 400ms;
      -ms-transition: opacity 400ms;
      -o-transition: opacity 400ms;
      transition: opacity 400ms; }
      @media (max-width: 991.98px) {
        section#ui #home .watch {
          position: absolute; } }
      @media (min-width: 576px) {
        section#ui #home .watch {
          font-size: 40px; } }
      @media (min-width: 768px) {
        section#ui #home .watch {
          font-size: 40px; } }
      @media (min-width: 992px) {
        section#ui #home .watch {
          font-size: 40px; } }
      @media (min-width: 1200px) {
        section#ui #home .watch {
          font-size: 54px; } }
    section#ui #home #now-playing-small {
      position: absolute;
      bottom: 30px;
      opacity: 0;
      left: 40px;
      pointer-events: none;
      max-width: 30vw;
      -webkit-transition: opacity 400ms, left 400ms;
      -moz-transition: opacity 400ms, left 400ms;
      -ms-transition: opacity 400ms, left 400ms;
      -o-transition: opacity 400ms, left 400ms;
      transition: opacity 400ms, left 400ms; }

#logo-watching {
  pointer-events: none;
  opacity: 0;
  position: fixed;
  top: 20px;
  left: 20px;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  -ms-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms; }
  #logo-watching .hamburger img {
    height: 24px; }

#bottom-left {
  position: fixed;
  bottom: 30px;
  left: 20px; }
  @media (max-width: 991.98px) {
    #bottom-left {
      display: none; } }
  #bottom-left .logan-logo {
    max-width: 15vw; }
  #bottom-left .credits:hover span {
    color: #8197FF; }

#grad-watching {
  background: black;
  /* Old browsers */
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  -ms-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  opacity: 0;
  pointer-events: none; }

#top-left {
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 20px; }

#now-playing-watching {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  -ms-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center; }
  #now-playing-watching .texts {
    max-width: calc(100vw - 500px);
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  @media (max-width: 991.98px) {
    #now-playing-watching {
      top: auto;
      bottom: 20px; }
      #now-playing-watching .texts {
        max-width: 100%;
        width: 100%; } }

#about {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  -ms-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  #about .content-wrapper {
    max-width: 600px;
    display: inline-block;
    padding: 20px;
    max-height: 100%;
    overflow-y: scroll; }
    #about .content-wrapper .text p {
      margin-bottom: 1em; }
    #about .content-wrapper .text ol, #about .content-wrapper .text ul {
      margin-bottom: 1em;
      padding-left: 1.7em; }
    #about .content-wrapper .text li {
      list-style-position: inside;
      list-style-position: outside; }
    #about .content-wrapper .text a {
      color: #FA7935; }
      #about .content-wrapper .text a:hover {
        text-decoration: underline; }
  #about .close-x {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px 23px;
    color: rgba(255, 255, 255, 0.5); }
    #about .close-x:hover {
      color: white; }

@media (max-width: 991.98px) {
  body #mob-menu {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    -ms-transition: opacity 400ms;
    -o-transition: opacity 400ms;
    transition: opacity 400ms; }
  body #mob-menu-btn {
    position: fixed;
    display: block;
    top: 0px;
    right: 0px; }
    body #mob-menu-btn a {
      width: 60px;
      height: 60px;
      display: inline-flex;
      align-items: center;
      justify-content: center; }
      body #mob-menu-btn a::after {
        content: url("../images/hamburger.svg"); }
  body section#ui .close-programs {
    display: none !important; }
  body section#ui #channel-1 {
    border-left: none; }
  body section#ui [id^='channel-'] {
    display: none; }
    body section#ui [id^='channel-'].expanded {
      min-width: 0;
      flex-grow: 1; }
      body section#ui [id^='channel-'].expanded .rotated-bar {
        height: 70px !important; }
      body section#ui [id^='channel-'].expanded .schedule {
        opacity: 1;
        pointer-events: all;
        -webkit-transition: opacity 400ms 400ms;
        -moz-transition: opacity 400ms 400ms;
        -ms-transition: opacity 400ms 400ms;
        -o-transition: opacity 400ms 400ms;
        transition: opacity 400ms 400ms; }
    body section#ui [id^='channel-'] .rotated-bar {
      width: calc(100vh - 70px) !important;
      top: -70px !important; }
      body section#ui [id^='channel-'] .rotated-bar .title {
        order: 2;
        width: 45vh;
        margin-left: 40px; }
    body section#ui [id^='channel-'] .schedule {
      width: calc(100vw - 0px * var(--chn) - 10px) !important;
      width: calc(100vw - 0px * (var(--chn) - 1) - 70px) !important;
      opacity: 0;
      pointer-events: none; }
      body section#ui [id^='channel-'] .schedule .schedule-item {
        margin: 0 0 60px 10px !important; }
      body section#ui [id^='channel-'] .schedule .program-title, body section#ui [id^='channel-'] .schedule .description {
        margin-right: -30px; }
  body.xs-menu-open #mob-menu {
    opacity: 1;
    pointer-events: all; }
  body.xs-menu-open #mob-menu-btn a::after {
    content: "x"; }
  body.xs-menu-open #ui {
    top: 70px; }
    body.xs-menu-open #ui [id^='channel-'] {
      display: flex; }
    body.xs-menu-open #ui #top-left {
      display: none; }
    body.xs-menu-open #ui #home {
      display: none; }
  body:not(.schedule-open) [id^='channel-'] {
    min-width: calc(100vw / var(--chn)) !important; }
    body:not(.schedule-open) [id^='channel-'] .rotated-bar {
      height: calc(100vw / var(--chn)) !important; }
  body.schedule-open [id^='channel-'] {
    min-width: 0px !important; }
    body.schedule-open [id^='channel-'] .rotated-bar {
      height: 0px !important; }
  body.about #mob-menu, body.about #mob-menu-btn {
    opacity: 0;
    pointer-events: none; } }

/*# sourceMappingURL=index.css.map */
