@charset "UTF-8";
@import 'bootstrap-scss/_functions';
@import 'bootstrap-scss/_variables';
@import 'bootstrap-scss/mixins/_breakpoints';

// ------------------------------------------------------------------------
// Variables
// ------------------------------------------------------------------------

$orange: #FA7935;
$purple: #8197FF;

$space: 20px;
$col-w-xl: 70px;
$col-w-lg: 60px;
$schedule-w-xl: 360px;
$schedule-w-lg: 300px;

// ------------------------------------------------------------------------
// External files import
// ------------------------------------------------------------------------

@import '_reset';
@import '_typography';
@import '_mixins';


// ------------------------------------------------------------------------
// General tags & classes
// ------------------------------------------------------------------------

* {
}
body {
  &.watching {
    section#bg {
      div#bg-video {
        opacity: 1;
        filter: blur(0);
        // transform: scale(1);
      }
    }
    section#ui {
      pointer-events: none;
      opacity: 0;
      
    }
    #logo-watching {
      pointer-events: all;
      opacity: 1;
    }
  }

  main {

  }
}

a {
	cursor: pointer;
  &.huge-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: solid $orange;
    border-width: 2px;

    color: $orange;
    text-decoration: none;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    @include font-bit-xl;
    @include transition(background-color 400ms);
    &:hover {
      background-color: $orange;
      color: black;
    }
  }
  &.button {
    display: inline-flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: $orange;
    color: black;
    text-decoration: none;
    padding: 0 15px;
    margin-right: 5px;
    margin-top: 5px;
    min-width: 250px;
    @include font-sans-m;
    @include transition(background-color 400ms);
    &:hover {
      background-color: darken($red, 5%);
    }
    &.external {
      &::before {
        content: "↗";
        margin-right: 0.5em;
      }
    }
  }
}


// ------------------------------------------------------------------------
// Utilities
// ------------------------------------------------------------------------

.color-white  { color: white; }
.color-grey   { color: #ABABAB; }
.color-purple { color: $purple; }
.color-orange { color: $orange; }
.upper        { text-transform: uppercase; }
.blurred      { filter: blur(1vh); }
.font-bold    { font-weight: 700; }
.max-text-w   { max-width: 9em; }
.vspace       { height: $space; }

// ------------------------------------------------------------------------
// Grid
// ------------------------------------------------------------------------

section#bg {
  background-color: black;
  height: 100vh;
  div#bg-video {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    opacity: 0.3;
    // transform: scale(2);
    filter: blur(1vh);
    @include transition(filter 400ms, transform 800ms);
    iframe {
      // pointer-events: none;
    }
  }
}

section#ui {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  @include transition(opacity 400ms);

  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;

  div.column {
    min-width: $col-w-xl;
    @include media-breakpoint-down(lg) { min-width: $col-w-lg; }
    position: relative;
    @include transition(flex-grow 400ms, min-width 400ms);
    overflow: hidden;
    border-left: 1px solid rgba(255,255,255, 0.2);

    &.expanded {
      min-width: calc(#{$col-w-xl} + #{$schedule-w-xl});
      @include media-breakpoint-down(lg) { min-width: calc(#{$col-w-lg} + #{$schedule-w-lg}); }

      .rotated-bar .arrow::after {
        content: "↑";
        content: "↓";
      }
    }

    // &.closed {
    //   min-width: 0;
    //   flex-grow: 0;
    //   width: 0;
    // }

    .rotated-bar {
      transform: rotate(-90deg);
      transform-origin: 50vh 50vh;
      height: $col-w-xl;
      @include media-breakpoint-down(lg) { height: $col-w-lg; }
      width: 100vh;
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 $space;
      .arrow::after {
        content: "↓";
        content: "↑";
      }
    }

    .schedule {
      position: absolute;
      width: $schedule-w-xl;
      @include media-breakpoint-down(lg) { width: $schedule-w-lg; }
      top: 0; height: 100vh;
      left: $col-w-xl;
      overflow-y: scroll;
      
      .schedule-item {
        border-top: 1px solid rgba(255,255,255, 0.2);
        padding-top: $space;
        padding-right: $space;
        margin: $space 0 $space*3 10px;
        display: flex;
        
        .left { flex-grow: 1; }

        a.clickable-title {
          &:hover { color: $orange; }
        }
      }
    }

  }
  #home {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    padding-bottom: $space;
    justify-content: center;
    position: relative;

    .close-programs {
      position: absolute;
      top: 0;
      right: 0;
      height: $col-w-xl;
      width: $col-w-xl;
      @include media-breakpoint-down(lg) { 
        height: $col-w-lg;
        width: $col-w-lg;
      }
      color: white;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      @include font-bit-xl;
      @include transition(opacity 400ms);
    }

    &.hidden {
      // flex-grow: 0;
      .highlight { opacity: 0; }
      .close-programs { opacity: 1; }
    }
    
    .highlight {
      @include transition(opacity 400ms);
      text-align: center;
    }

    .watch {
      position: absolute;
      opacity: 1;
      top: 0; right: 0; bottom: 0; left: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      @include font-bit-xl;
      @include transition(opacity 400ms);
    }
  }
}

#logo-watching {
  pointer-events: none;
  opacity: 0;
  @include transition(opacity 400ms);
}



// ------------------------------------------------------------------------
// BOOTSTRAP BREAKPOINTS
// ------------------------------------------------------------------------

// xs ---                 Portrait phones
// sm ---  576px and up   Small devices (landscape phones)
// md ---  768px and up   Medium devices (tablets)
// lg ---  992px and up   Large devices (desktops)
// xl --- 1200px and up   Extra large devices (large desktops)

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-between(md, xl) { ... }
// @include media-breakpoint-down(lg) { ... }
